.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #333;
    color: white;
    width: 100%;
    padding: 0 30px;
}
.tab {
    text-transform: uppercase;
}